@use '../../../../variables' as *;

.assets-page-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    // 60px
    grid-template-rows: 1fr;
    height: 100%;
    gap: 25px; 
    padding: 0 30px 30px 30px; 
    
    .nav-bar-assets {
        grid-column: 1 / -1; 
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        border-radius: 10px;
        
        .inner-nav-bar-assets {
            display: flex;
            background-color: $bg-card-primary;
            padding: 10px;
            align-items: center;
            border-radius: 10px;
            gap: 10px;
        }
    }

    // --- ЛЕВАЯ КОЛОНКА ---
    .asset-container {
        display: flex;
        flex-direction: column;
        height: 100%; 
        background-color: $bg-card-primary;
        box-shadow: 
            0 2px 4px $bg-card-primary,
            0 8px 24px $bg-card-primary;
        border-radius: 10px;
        padding: 5px; 
        gap: 20px;
        
        .asset-form {
            flex: 1; 
            display: flex;
            flex-direction: column;
        }
        
        .file-upload {
            display: flex;
            flex-direction: column;
        }
    }

    // --- ПРАВАЯ КОЛОНКА ---
    .assets-list {
        background-color: $bg-card-primary;
        box-shadow: 
            0 2px 4px $bg-card-primary,
            0 8px 24px $bg-card-primary;
        border-radius: 10px;
        overflow-y: auto; 
    }

}
